<h3>What is your lucky number today?</h3>
<form (ngSubmit)="calculate()" #vaultForm="ngForm">
  <input type="number" name="luckyNumber" id="luckyNumber" [(ngModel)]="luckyNumber">
  <button class="btn btn-primary" type="submit">Hit Me!</button>
</form>

<div [hidden]="!code" class="secretcode">
  <div>{{codeString}}</div>
</div>
<div class="succes">
 {{succesString}}
</div>

succesratio
