a {
  background: chartreuse;
}

a:hover{
  background: aliceblue;
}

.secretcode {
  background: black;
  color: white;
  font-size: 3em;
  letter-spacing: 15px;
  padding: 10px 10px 10px 20px;;
  display: inline-block;
  margin-top: 1em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}