<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <header>
          <h1><span class="first-letter">R</span><span class="the-rest">obbery plan</span></h1>
        </header>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-4">
            <app-search></app-search>
        </div>
        <div class="col-sm-4">
            <app-flights></app-flights>
        </div>
        <div class="col-sm-4">
            <app-vault></app-vault>

        </div>
      </div>
    </div>
