<h2>Select your escape flight</h2>

<form (submit)="onSubmit()">
    <input [(ngModel)]="departureDay"
    type="date" 
    name="day">
<input [(ngModel)]="departureTime"
       type="time"
       name="time">
  <button class="btn btn-primary" type="submit">Get flights</button>      
</form>

<!-- <table>
<tr>
    <td>Flightname</td>
    <td>Destination</td>
    <td>Date and Time</td>
</tr>
<tr *ngFor="let flight of flights">
  <ng-container *ngIf="flight.flightName === flight.mainFlight"> 
  <td>{{flight.flightName}}</td>
  <td>{{flight.route.destinations[0]}}</td>
  <td>{{flight.checkinAllocations.checkinAllocations[0].endTime | date : 'medium' }} </td>
</ng-container>
</tr>
</table>  -->
<div *ngFor="let flight of flights">
<ng-container *ngIf="flight.flightName === flight.mainFlight"> 
    <input type="radio" name="flight" value="{{flight.flightName}}"> {{flight.flightName}} {{flight.route.destinations[0]}} {{flight.checkinAllocations.checkinAllocations[0].endTime | date : 'medium' }}  <br>
</ng-container>
</div>