<h2>How risky are you?</h2>
<input type="radio" name="risk" value="mwa"> mwa, this is the first time<br>
<input type="radio" name="risk" value="semi"> semi, i do this more often<br>
<input type="radio" name="risk" value="kamikaze"> I like some riskiness <br>

<button class="btn btn-primary" (click)="getArtObjects()">GET ART!!!!!</button>

<!-- <div *ngFor="let artObject of artObjects">
	<h3>{{ artObject.title }}</h3>
	<img src="{{ artObject.webImage.url }}" width="300">
</div> -->

<div>
        <h3>{{ artTitle }}</h3>
        <img src="{{ artImage }}" width="300">
</div>