header {
    background: whitesmoke;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
}

.col-sm-4 {
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 1em;
}

.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.succes {
    color: black;
    font-size: 5em;
}

.first-letter{
  font-size: 220px;
  font-weight: bolder;
  color: red;
  position: absolute;
  left: 24%;
  top: -17%;
}

h1{
  color: black;
  font-size: 30px;
}

h1 > .the-rest{
  position: absolute;
  top: 125px;
  left: 33%;
  font-size: 60px;
}
